<form action="/course/add" method="post">
    <p>
        <label>Course Name:</label><input value="" name="CourseName" /></br>
        <label>Course Duration:</label><input value="" name="CourseDuration" /></br>
        <label>Course Fee:</label><input value="" name="CourseFee" /></br>
        <button type="submit">Add Course</button>
    </p>
</form>